
/* #image {
    background-image: url(download.jpeg);
    background-position:center ;
    background-size: cover;
/* } */
/* h1 {
    margin-top:280px;
    color:black;
    font-size: 50px;
} */ 
/* h2{
 margin-bottom: 400px;
    font-size: 40px;
    color:rgb(59, 59, 58);
} */
/* #underline{
    background-color:black;
    width:10px;
} */
